<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        window.tailwind = window.tailwind || {};
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#0f172a',
                        error: '#b00020',
                        success: '#065f46',
                        textGray: '#4b5563',
                        textDark: '#263238',
                        linkText: '#111827',
                    },
                    backgroundImage: {
                        'gradient-radial': 'radial-gradient(circle, #ffb6c1, #ffc1cc, #ffe4ec)',
                        'gradient-card': 'linear-gradient(to right, #a8e6cf, #dcedc1, #f0f9e8)',
                        'gradient-yellow': 'radial-gradient(circle, #fff7cc, #fff0b3, #ffeaa7)', 
                    },
                }
            }
        }
    </script>
    {% block meta %}{% endblock meta %}
    <title>{% block title %}KitKeeper{% endblock title %}</title>
</head>
<body class="bg-gradient-radial min-h-screen p-8">
  {% if request.user.is_authenticated %}
    {% include 'navbar.html' %}
  {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>